<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body background="{{url_for('static',filename='bg.jpg')}}"><center>
    <h1 style="color: black; font-family: 'Courier New', Courier, monospace;">Welcome to Our Website</h1>

    <nav>
        <ul>
            <li><a href="/profile"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Profile</p></a></li>
            <li><a href="/works"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Works</p></a></li>
            <li><a href="/contact"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Contact</p></a></li>
        </ul>
    </nav>


    <h1 style="color: black; font-family: 'Courier New', Courier, monospace;">Welcome to my programming works</h1>

    <ul>
        <li><a href="/touppercase"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">toUpperCase</p></a></li>
        <li><a href="/circle"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Area of a Circle</p></a></li>
        <li><a href="/areaOfTriangle"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Area of a Triangle</p></a></li>
    </ul>
</center>
</body>
</html>

