<!DOCTYPE html>
<html>
<head>
    <title>Works</title>
</head>
<nav>
    <ul>
        <li><a href="/"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Home</p></a></li>
        <li><a href="/profile"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Profile</p></a></li>
        <li><a href="/contact"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Contact</p></a></li>
    </ul>
</nav>
<body background="{{url_for('static',filename='bg.jpg')}}">
<center>
    <h1 style="color: black; font-family: 'Courier New', Courier, monospace;">Welcome to My Works Page</h1>
    
    <p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Here is the List of my works that you can access on this website</p>

    <ul>
        <li><a href="/works"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">toUpperCase</p></a></li>
        <li><a href="/circle"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Area of a Circle</p></a></li>
        <li><a href="/areaOfTriangle"><p style="font-size:large; color: black; font-family: 'Courier New', Courier, monospace;">Area of a Triangle</p></a></li>
    </ul>
</center>
</body>
</html>
